@model WordsTeacher.Data.Entities.Phrase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Phrase</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BasePharse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BasePharse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TranslatedPharse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TranslatedPharse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TranslationPronunciation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TranslationPronunciation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AudioPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AudioPath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImagePath)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RemaiderTimeUtc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RemaiderTimeUtc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDateUtc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDateUtc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateTimeUtc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UpdateTimeUtc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>