@model WordsTeacher.Models.Phrases.PhraseListModel

@{
    ViewData["Title"] = "Index";
}
<script src="~/lib/jquery-datatable/jquery.dataTables.min.js"></script>
<script src="~/lib/handlebars/handlebars.js"></script>
<link href="~/lib/jquery-datatable/jquery.dataTables.min.css" rel="stylesheet" />

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="pharse-table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>@Html.LabelFor(a => a.BasePhrase)</th>
            <th>@Html.LabelFor(a => a.BaseLanguageName)</th>
            <th>@Html.LabelFor(a => a.TranslatedPhrase)</th>
            <th>@Html.LabelFor(a => a.TranslationLanguageName)</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
<script id="actions-template" type="text/x-handlebars-template">
    <a class="btn btn-success" href="@Url.Action("Edit","Phrase")/{{model}}">Edit</a>
    <button class="btn btn-danger" name="btn-delete" data-id="{{model}}">Delete</button>
</script>
<script>
    $(() => {
        var phraseTable = $('#pharse-table').DataTable({
            "serverSide": true,
            searching: false,
            "drawCallback": function (settings) {
                $("[name='btn-delete']").click((e) => {
                    $.ajax({
                        url: "@Url.Action("Delete","Phrase")",
                        data: { id: $(e.target).data("id") },
                        method: "POST",
                        success: (response) => {
                            if (response && response.message)
                                if (response.success) {
                                    toastr.success(response.message)
                                    phraseTable.ajax.reload();
                                }
                                else
                                    toastr.error(response.message)
                        }
                    })
                });
            },
            "ajax": {
                url: "@Url.Action("GetPhrases", "Phrase")",
                type: "POST",
            },
            "columns": [
                { "data": "basePhrase" },
                { "data": "baseLanguageName" },
                { "data": "translatedPhrase" },
                { "data": "translationLanguageName" },
                {
                    "data": "id",
                    "render": function (data, type, row, meta) {
                        var template = Handlebars.compile($("#actions-template").html());
                        return template({ model: data, });
                }}
            ]
        });
    })
</script>